{% extends "base.html" %}
{% block head %}
<title>Update Profile</title>
{% endblock %}
{% block body %}
<div class="">
    <div class="row">
        <div class="col-md-6">
            {% if user_profile == 'Not Found' %}
            <h1>CTF Profile Not Found!</h1>
            <p>Contact the user and tell them to sign up!</p>
            {% else %}
                <h1>CTF Profile For: {{ user_profile }}</h1>

            <div class="table">
            <table class="table">
                <tr>
                    <td><strong>CTF Count:</strong></td>
                    <td>{{ user_profile.ctfcount }}</td>
                </tr>
                <tr>
                    <td><b>Confidence: </b></td>
                    <td>{{ user_profile.confidence }}</td>
                </tr>
                <tr>
                    <td><b>Training Level: </b></td>
                    <td>{{ user_profile.training }}</td>
                </tr>
                <tr>
                    <td><b>Notable Skills: </b></td>
                    <td>{{ user_profile.skills }}</td>
                </tr>
            </table>
            </div>
            {% endif %}
    </div>
    </div>
</div>
{% endblock %}
